@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --Light--gray: hsl(212, 45%, 89%);
    --Grayish--blue: hsl(220, 15%, 55%);
    --Dark--blue: hsl(218, 44%, 22%);
}

body, html {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    background-color: var(--Light--gray);
}

section {
    background-color: var(--white);
    padding: 20px;
}

h1 {
    color: var(--Dark--blue);
    font-weight: 700;
}

p {
    color: var(--Grayish--blue);
}

div.attribution {
    text-align: center;
    margin-top: 7px;
}